<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
    <h2>Create New Employee</h2> <br>
    <form action="#" method="post" th:action="@{/create}" th:object="${employee}">
        <div class="form-group">
            <label>Name</label>
            <input type="text" th:field="*{name}" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input type="text" th:field="*{surname}" placeholder="Surname">
        </div>
        <div class="form-group">
            <label>Country</label>
            <input type="text" th:field="*{country}" placeholder="Country">
        </div>
        <div class="form-group">
            <label>Birth Date</label>
            <input type="date" th:field="*{birthDate}" placeholder="Birth Date">
        </div>
        <div class="form-group">
            <label>Marital Status</label>
            <select th:field="*{maritalStatus}">
                <option value=""> -- </option>
                <option th:each="ms: ${maritalStatus}"
                        th:value="${ms.maritalStatusId}"
                        th:utext="${ms.status}"/>
            </select>
        </div>
        <div class="form-group">
            <label>Skills</label>
            <ul>
                <li th:each="sk: ${skills}">
                    <input type="checkbox"
                           th:field="*{skills}"
                           th:value="${sk.skillId}" />
                    <label
                            th:for="${#ids.prev('skills')}"
                            th:text="${sk.name}"></label>
                </li>
            </ul>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

</body>
</html>